

*{
    margin: 0;
    padding:0;
    border:0;
    
}
body{
    background-color: #1E1E2F;
}
#desktop {
  background-image: url("background.png");
  background-repeat: no-repeat;  
  background-size: 100vw;;
  height: 100vh;
  width: auto;
  z-index: 100;
  filter: blur(2px);
  background-color: #1E1E2F;
  
 
  
}


/* Position text in the middle */
.middle {
  position: absolute;
  font-family: sans-serif;
  top: 30%;
  left: 50%;
  color: #ffd700;
  font-size: 30px;
  transform: translate(-50%, -50%);
  text-align: center;
 
  
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}

